name: Deploy to GCP Linux Server (via gcloud)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # Step 1: Authenticate with GCP
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      # Step 2: Set up Cloud SDK
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}

      # Step 3: Copy files to VM
      - name: Copy files to VM
        run: |
          # gcloud compute scp --recurse ./ \
          #   ${{ secrets.GCP_VM_USER }}@${{ secrets.GCP_VM_NAME }}:/home/giet13ee092/project1  \
          #   --zone=${{ secrets.GCP_VM_ZONE }}
          echo $(whoami)
          echo $(pwd)

      # Step 4: Run deployment commands on VM
      # - name: Run deployment commands on VM
      #   run: |
          # gcloud compute ssh ${{ secrets.GCP_VM_USER }}@${{ secrets.GCP_VM_NAME }} \
          #   --command="cd /home/giet13ee092/project1 && sudo systemctl restart myapp.service"
